html
    head
        // Third-party CSS
        link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')

        // Custom CSS
        link(rel='stylesheet', href='/css/app.css')
    body
        - for (var i=0; i<4; i++) {
            div
                label(for='ai'+i) AI #{i}
                input(id='ai'+i, type='text', value='python ai/ai.py')
        - }

        div
            button#runGame Run Game

        div#log

        // Third-party JS
        script(src='/components/jquery/dist/jquery.min.js')
        script(src='/components/underscore/underscore.js')
        //script(src='/components/bootstrap/dist/js/bootstrap.min.js')

        // Custom JS
        script(src='/js/app.js')
        