html
    head
        // Third-part CSS
        link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')

        // Custom JS
        link(rel='stylesheet', href='/css/app.css')
    body
        h1 TokiMemo
        img(src='/img/toki_memo_logo.jpg')

        // Third-party JS
        //script(src='/components/bootstrap/dist/js/bootstrap.min.js')

        // Custom JS
        script(src='/js/app.js')

