html
    head
        // Third-part CSS
        link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')

        // Custom JS
        link(rel='stylesheet', href='/css/app.css')
    body
        img(src='/img/toki_memo_logo.jpg')
        
        div
            label(for='ai1') AI 1
            input#ai1(type='text')

        div
            label(for='ai2') AI 2
            input#ai2(type='text')
        
        div
            label(for='ai3') AI 3
            input#ai3(type='text')
        
        div
            label(for='ai4') AI 4
            input#ai4(type='text')

        div
            button#wsTest Connect to WS server

        div#log

        // Third-party JS
        script(src='/components/jquery/dist/jquery.min.js')
        //script(src='/components/bootstrap/dist/js/bootstrap.min.js')

        // Custom JS
        script(src='/js/app.js')
        