html
    head
        link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')

        link(rel='stylesheet', href='/css/app.css')
    body
        div
            canvas(id='gameCanvas', width='600', height='600')

        script(src='/components/jquery/dist/jquery.min.js')
        script(src='/components/underscore/underscore.js')

        script(src='/js/cocos2d.js')
        