html
    head
        link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/app.css')

    body
        div
            canvas(id='gameCanvas', width='1024', height='768')

        script(src='/js/game.bundle.js')
        script(src='/replayer/cocos2d-html5/CCBoot.js')
        script(src='/replayer/main.js')
        